.maindivblock {
  position: relative;
  top: 0px;
  display: inline-block;
  width: 100%;
  height: 670px;
  margin-bottom: 12px;
  margin-left: 0px;
  padding: 24px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #2a254c;
  background-image: url('../images/background_furniture1.jpg'), url('../images/background_furniture1.jpg');
  background-position: 50% 50%, 50% 50%;
  background-size: 100% 100%, contain;
  background-attachment: scroll, scroll;
  opacity: 1;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.heading {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #3a38a5;
  color: #f5f0f0;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.section {
  display: block;
  margin-top: 0px;
  margin-left: 0px;
}

.textbox1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 91px;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #767db4;
  color: #fcf7f7;
  font-weight: 700;
  text-align: center;
}

.button {
  width: 160px;
  background-color: rgba(238, 242, 245, 0.97);
}

.button1 {
  position: relative;
  width: 40px;
  height: 45px;
  margin-top: 2px;
  margin-left: 180px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #eef2f6;
  background-image: url('../images/down-arrow1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.button2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 45px;
  margin: -79px auto auto 180px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: #f5f5f5;
  background-image: url('../images/uparrow3.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-x;
}

.text-block {
  width: 160px;
  height: 91px;
  margin-left: 260px;
}

.textbox2 {
  width: 160px;
  height: 91px;
  margin-left: 240px;
  background-color: #c7d1ee;
}

.container {
  position: relative;
  top: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 1px solid #ddd;
  background-color: rgba(243, 236, 236, 0.51);
}

.div-block-2 {
  position: relative;
  display: inline-block;
  width: 240px;
  height: 210px;
  margin-top: 20px;
}

.div-block-3 {
  display: inline-block;
  width: 240px;
  height: 210px;
  margin-top: 20px;
  margin-left: 0px;
}

.div-block-4 {
  display: inline-block;
  width: 240px;
  height: 210px;
  margin-top: 20px;
  margin-left: 0px;
}

.text-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 91px;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #767db4;
  color: #fcf7f7;
  font-weight: 700;
  text-align: center;
}

.form-block {
  margin-top: -54px;
}

.field-label {
  width: 155px;
  margin-left: 20px;
  text-align: center;
}

.button-2 {
  display: block;
  width: 40px;
  height: 45px;
  margin-top: -65px;
  margin-left: 180px;
  background-color: #f5f5f5;
  background-image: url('../images/uparrow3.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-x;
}

.button3 {
  width: 40px;
  height: 45px;
  margin-top: 2px;
  margin-left: 180px;
  background-color: #eef2f6;
  background-image: url('../images/down-arrow1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
  background-attachment: scroll;
}

.textbox3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 91px;
  margin-top: 20px;
  margin-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #767db4;
  color: #fcf7f7;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.button4 {
  position: relative;
  top: -70px;
  width: 40px;
  height: 45px;
  margin-top: 0px;
  margin-left: 170px;
  background-color: #f5f5f5;
  background-image: url('../images/uparrow3.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-x;
}

.button5 {
  position: relative;
  top: -73px;
  width: 40px;
  height: 45px;
  margin-top: 0px;
  margin-left: 170px;
  background-color: #eef2f6;
  background-image: url('../images/down-arrow1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.text-field {
  width: 160px;
  height: 23px;
  margin-top: -65px;
  margin-left: 20px;
  background-color: #767db4;
  color: #fcf7f7;
  font-weight: 700;
  text-align: center;
}

.text-field::-webkit-input-placeholder {
  color: #f12727;
  font-weight: 700;
  text-align: center;
}

.text-field:-ms-input-placeholder {
  color: #f12727;
  font-weight: 700;
  text-align: center;
}

.text-field::-ms-input-placeholder {
  color: #f12727;
  font-weight: 700;
  text-align: center;
}

.text-field::placeholder {
  color: #f12727;
  font-weight: 700;
  text-align: center;
}

.text-field-2 {
  width: 160px;
  height: 23px;
  margin-top: -50px;
  margin-left: 20px;
  background-color: #767db4;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.text-field-2::-webkit-input-placeholder {
  color: #fcf7f7;
}

.text-field-2:-ms-input-placeholder {
  color: #fcf7f7;
}

.text-field-2::-ms-input-placeholder {
  color: #fcf7f7;
}

.text-field-2::placeholder {
  color: #fcf7f7;
}

.text-field-3 {
  width: 160px;
  height: 23px;
  margin-top: -60px;
  margin-left: 10px;
  background-color: #767db4;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.text-field-3::-webkit-input-placeholder {
  text-align: center;
}

.text-field-3:-ms-input-placeholder {
  text-align: center;
}

.text-field-3::-ms-input-placeholder {
  text-align: center;
}

.text-field-3::placeholder {
  text-align: center;
}

.fppsalesblock {
  width: 800px;
  height: 340px;
  margin-left: 60px;
  background-color: #2a254c;
}

.container-2 {
  position: relative;
  top: -10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  margin-top: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: 1px solid #ddd;
  background-color: rgba(243, 235, 235, 0.51);
  text-align: left;
  text-indent: 1px;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-left: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #3a38a5;
  color: #f5f0f0;
  font-size: 20px;
  text-align: center;
}

.div-block-5 {
  width: 380px;
  margin-top: 10px;
}

.div-block-6 {
  position: static;
  display: inline-block;
  width: 190px;
  height: 220px;
  margin-top: 0px;
  margin-left: 0px;
}

.text-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 60px;
  margin-top: 2px;
  margin-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #767db4;
  color: #fcf7f7;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.text-block-4 {
  position: relative;
  top: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 70px;
  margin-top: -74px;
  margin-bottom: 0px;
  margin-left: 20px;
  clear: both;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #767db4;
  color: #fcf7f7;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.text-block-5 {
  position: relative;
  top: -6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 79px;
  height: 70px;
  margin: 37px 0px 0px 100px;
  padding-top: 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  border: 1px none #000;
  background-color: #767db4;
  outline-color: #fcf7f7;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  direction: ltr;
  color: #fcf7f7;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  letter-spacing: normal;
  text-indent: 1px;
  white-space: nowrap;
}

.text-field-4 {
  position: static;
  display: block;
  overflow: visible;
  width: 65px;
  height: 20px;
  margin-top: 0px;
  margin-left: 85px;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-field-5 {
  position: relative;
  top: 20px;
  width: 152px;
  height: 22px;
  margin-top: -49px;
  border: 1px solid #ddd;
  border-radius: 0px;
  background-color: #767db4;
  outline-color: #f12727;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;
  color: #fcf7f7;
  font-weight: 700;
  text-align: center;
  mix-blend-mode: normal;
}

.text-field-5::-webkit-input-placeholder {
  color: #fcf7f7;
}

.text-field-5:-ms-input-placeholder {
  color: #fcf7f7;
}

.text-field-5::-ms-input-placeholder {
  color: #fcf7f7;
}

.text-field-5::placeholder {
  color: #fcf7f7;
}

.form {
  margin-left: 25px;
}

.text-field-6 {
  width: 70px;
  height: 22px;
  margin-top: 0px;
  margin-bottom: -37px;
  margin-left: 105px;
}

.text-field-7 {
  position: relative;
  top: 8px;
  width: 60px;
  height: 24px;
  margin-top: -37px;
  margin-left: 29px;
  background-color: #767db4;
}

.text-field-7::-webkit-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-7:-ms-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-7::-ms-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-7::placeholder {
  color: #fcf7f7;
  text-align: center;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.text-field-8 {
  position: relative;
  top: 6px;
  width: 60px;
  height: 24px;
  margin-top: -42px;
  margin-left: 110px;
  background-color: #767db4;
  opacity: 1;
  mix-blend-mode: normal;
}

.text-field-8::-webkit-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-8:-ms-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-8::-ms-input-placeholder {
  color: #fcf7f7;
  text-align: center;
}

.text-field-8::placeholder {
  color: #fcf7f7;
  text-align: center;
}

.button6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 35px;
  margin-top: -85px;
  margin-left: 180px;
  background-color: #eef2f6;
  background-image: url('../images/uparrow3.jpg');
  background-position: 50% 50%;
  background-size: 40px 22px;
  background-repeat: repeat-y;
}

.button7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 35px;
  margin-top: 1px;
  margin-left: 180px;
  background-color: #eef2f6;
  background-image: url('../images/down-arrow1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.div-block-7 {
  height: 82px;
  margin-left: 220px;
}

.div-block-8 {
  position: relative;
  right: 100px;
  display: block;
  width: 530px;
  height: 220px;
  margin-top: -230px;
  margin-right: auto;
  margin-left: 180px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center;
}

.text-block-6 {
  position: relative;
  left: -26px;
  top: 50px;
  display: block;
  width: 370px;
  height: 85px;
  margin-top: -166px;
  margin-left: 120px;
  padding-top: 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #767db4;
  font-weight: 700;
}

.button-3 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 42px;
  margin-top: 13px;
  margin-left: 40px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #eef2f6;
  background-image: url('../images/uparrow3.jpg');
  background-position: 50% 50%;
  background-size: 40px 22px;
  background-repeat: repeat-x;
}

.button-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 42px;
  margin-top: 0px;
  margin-bottom: -7px;
  margin-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #eef2f6;
  background-image: url('../images/down-arrow1.jpg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

.button-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 55px;
  height: 35px;
  margin-top: 50px;
  margin-left: 119px;
  padding-left: 8px;
  background-color: #eef2f6;
  color: #0a0a0a;
  font-weight: 700;
  text-align: center;
}

.div-block-9 {
  position: relative;
  top: 20px;
}

.button-6 {
  margin-right: 20px;
  margin-left: 20px;
  background-color: #767db4;
}

.button-7 {
  margin-right: 20px;
  background-color: #767db4;
}

.button-8 {
  margin-right: 20px;
  background-color: #767db4;
}

.button-9 {
  margin-right: 0px;
  background-color: #767db4;
}

.text-field-9 {
  position: static;
  overflow: visible;
  width: 350px;
  height: 50px;
  margin-right: auto;
  margin-left: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  clear: none;
  background-color: #767db4;
  letter-spacing: normal;
  text-transform: none;
  -webkit-column-count: auto;
  column-count: auto;
  white-space: nowrap;
  -o-object-fit: fill;
  object-fit: fill;
}

.navbar-dark {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000;
  font-family: Montserrat, sans-serif;
}

.navbar-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.navbar-dark-brand {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text-block-7 {
  display: block;
  margin-right: 33px;
  margin-left: 54px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 40px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-row-align: center;
  align-self: center;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-image: url('../images/Header1.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: repeat-y;
  background-attachment: scroll;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.nav-link-light {
  padding-right: 30px;
  padding-left: 30px;
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link-light:hover {
  color: #fff;
}

.navbar-dark-nav-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 30px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.navbar-dark-nav-button:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.text-block-8 {
  display: block;
  width: 470px;
  height: 0px;
  margin-bottom: 0px;
}

.brand {
  width: 525px;
  background-image: url('../images/Header1.png');
  background-position: 50% 50%;
  background-size: 0px 0px;
  background-repeat: repeat;
}

.text-block-9 {
  display: block;
  height: 60px;
  margin-left: -160px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/Header1.png');
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: repeat-y;
}

@media screen and (max-width: 991px) {
  .text-block-7 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .nav-link-light {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-dark-nav-button {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    -ms-grid-row-align: auto;
    align-self: auto;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-dark-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    color: #fff;
  }
}

@media screen and (max-width: 479px) {
  .text-block-7 {
    padding-left: 20px;
  }

  .nav-link-light:active {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .navbar-dark-nav-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }

  .navbar-dark-nav-button:hover {
    background-color: #fff;
  }
}