<!DOCTYPE html>
<html lang="en">


<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Aviato E-Commerce Template">

  <meta name="author" content="Themefisher.com">

  <title>Home</title>

  <!-- Mobile Specific Meta-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />
  <!-- bootstrap.min css -->
  <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
  <!-- Ionic Icon Css -->
  <link rel="stylesheet" href="plugins/Ionicons/css/ionicons.min.css">
  <!-- animate.css -->
  <link rel="stylesheet" href="plugins/animate-css/animate.css">
  <!-- Magnify Popup -->
  <link rel="stylesheet" href="plugins/magnific-popup/dist/magnific-popup.css">
  <!-- Owl Carousel CSS -->
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="plugins/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

  <!-- Main Stylesheet -->
  <link rel="stylesheet" href="css/style.css">

</head>
<body>

	<div>
		

		<section class="protection-plan-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						
						<div>
							<h1  class="login-plan-title">LOGIN</h1>
						</div>
						<div class="mb-30">
							<hr class="set-hr">
						</div>
						<div>
							<div>
								<div class="text-center mb-30">
									
									<div th:if="${error!= null}"
										class="alert alert-danger alert-dismissible fade show alert-msg-display mb-20"
										role="alert" id="danger-alert">
										<strong th:text="${error}"></strong>
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div th:if="${logout!= null}"
										class="alert alert-danger alert-dismissible fade show alert-msg-display mb-20"
										role="alert" id="danger-alert">
										<strong th:text="${logout}"></strong>
										<button type="button" class="close" data-dismiss="alert"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									

								</div>								
								<div class="row">
									<div class="col-sm-6">
										<div>
											<div>
												<div class="row">
													<div class="col-sm-12">

														<form th:action="@{/loginPage}" id="mainLoginForm"
															method="POST" class="form-signin"
															>															

															<div>
																<label>Enter User :</label> <input type="text"
																	class="form-control mb-20" name="username"
																	placeholder="User name">
															</div>
															<div>
																<label>Password :</label> <input type="password"
																	class="form-control mb-20"
																	name="password" placeholder="Enter Password">
															</div>
															
															<div class="forgotText">
																<div >
																	<input type="checkbox"> <label
																		>Remember password</label>
																</div>
																<div>
																	<label><a href="#" class="respoFont" style="color: #fff;">Forgot
																			Password?</a></label>
																</div>
															</div>
															<div class="text-center mt-10">

																<div>
																	<button type="Submit"  class="btn login-btn btn-primary">Login</button>
																</div>
															</div>

														</form>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- <div class="col-sm-6">
										<div class="borderLeft">
											<div class="text-center p-40">
												<div class="create-register">
													<h3>Create New Account</h3>
												</div>
												<div class="mt-40">
													<div>
														<a href="#"><button
																type="button"
																class="btn login-btn">Register
																Here</button></a>
													</div>
												</div>

											</div>
										</div>
									</div> -->
								</div>

								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>


</script>

</body>
</html>